body{
    background: linear-gradient(to right, #5bc04b, rgb(161, 161, 63), rgb(157, 118, 51));
    font-family: 'Roboto', sans-serif;
}
.kotak{
    height: 50px;
    border: solid 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    display: block;
    font-size: 30px;
    text-decoration:rgb(67, 26, 26) ;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}


.kotak:hover{
    background-color: #cac227;
}

.header{
    text-align: center;
    font-size: 35px;
    font-style: oblique();
    color: white;
}

.header img{
    width: 150px;
    border-radius: 90%;
    margin-top: 10px;
}

.footer{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
